body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
}
#game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    height: 80%;
    width: 80vh;
}

#full-screen{
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #00f;
}
#title{
    position: absolute;
    left: 45%;
    color: #000;
    text-align: center;
}