body {
	margin: 0;
	padding: 0;
	overflow: hidden;
  }
  
  #left,
  #right {
	position: absolute;
	width: 13vw;
	color: black;
	top: 50%;
	transform: translateY(-50%);
	background-color: aqua;
  }
  
  #left {
	left: 20px;
  }
  
  #right {
	right: 20px;
  }
  
  #game-container {
	width: 100vw;
	height: 100vh;
  }
  